/* first excercise */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* second excercise */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s ease;
}

.ex-2-square:active {
    width: 100%;
}

/* third excercise */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all .5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* fourth excercise  */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1.5s;
}

.ex-4-square:hover {
    background-color:transparent;
}

/* fifth excercise  */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all .5s ease;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
    margin: 0;
}


/* sixth excercise */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(90%);
}

/* seventh excercise */
.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: sepia(.6);
}

/* eighth excercise */
.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    filter: saturate(.25);
}

/* ninth excercise */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    height: 250px;
    transition: all 1s ease-in-out;
}

.ex-9-img:hover {
    width: 500px;
    height: 350px;
    border-radius: 10%;
    filter: saturate(.25);
    margin: 0;
}


/* tenth excersice */
.ex-10-icon {
    font-size: 60px;
    animation: wheel 2s infinite linear;
    animation-direction: reverse; 
    transform: rotate(360deg);
}

@keyframes wheel {
    from {transform: rotate(0deg)};
    to {transform: rotate(361deg)};
}

/* eleventh excersice */
.ex-11-icon {
    font-size: 60px;
    animation-direction: reverse;
    animation-timing-function: 0.5s;
}

.ex-11-icon:hover{
    animation: wheel2 1.5s ;
}

@keyframes wheel2 {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(0deg)
    }
}


.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}


.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* twelfth excersice */
.ex-12-button:hover .ex-12-top-white {
    animation: ex12 1.5s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: ex12-2 1.5s linear;
}

@keyframes ex12 {
    0% {
        top: -10px; left: 10% 
    }
    50% {
        top: -10px; left: 60% 
    }
    100% {
        top: -10px; left: 10% 
    }
}

@keyframes ex12-2 {
    0% {
        bottom: -10px; right: 20% 
    }
    50% {
        bottom: -10px; right: 60% 
    }
    100% {
        bottom: -10px; right: 20% }
}

/* thirteenth excercise */
.ex-13-button:hover .ex-13-top-white{
    animation: ex13 1.5s linear;
    animation-iteration-count: 3;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: ex13-2 1.5s linear;
    animation-iteration-count: 3;
}

@keyframes ex13 { 
    0% {
        top: -10px; left: 10%; right: -100%
    }
    20% {
        top: -10px; left: 90%; right: -80%
    }
    40% {
        top: 55px; left: 80%; right: -10%
    }
    60% {
        top: 55px; left: 60%; right:0
    }
    80% {
        top: 55px; left: 10%; right: 80%
    }
    100% {
        top: 55px; left: 0; right: 100%
    }
}

@keyframes ex13-2 {
    0% {
        bottom: -10px; right: 20%; left: 60%
    }
    20% {
        bottom: -10px; right: 90%; left: -10%
    }
    40% {
        bottom: -10px; right: 90%; left: -10%
    } 
    60% {
        bottom: 55px; right: 60%; left: -10%
    }
    80% {
        bottom: 55px; right: 10%; left: 80%
    }
    100% {
        bottom: 55px; right: -20%; left: 80%
    }

} 
